@use "./mixins" as *;
@use "./variables" as *;


@font-face {
    font-family: "avenir-pro-regular";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: "avenir-pro-demi";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: "avenir-pro-bold";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}


body {
    font-family: "avenir-pro-regular";
}

.nav {
    background-color: $dark;
    color: $white;
    font-family: "avenir-pro-regular";

    &__logo {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        &--image {
            max-width: 7.5rem;
            margin-top: 1rem;
            max-height: 1.25rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &--item {

            &--other {
                padding-bottom:1rem;
                padding-left:20%;
                padding-right:25%;
            }

            &--current {
            padding-bottom: 1rem;
            padding-right: 18%;
            padding-left: 21%;
            border-bottom: 0.125rem $white;
            }

            &--link {
                text-decoration: none;
                color: $white;
            }


        }
    }

    @include tablet {
        display: flex;

        &__logo {
            &--image {
                width: 100%;
                padding-left: 2rem;
                padding-top: 1rem;
                padding-bottom: 0.5rem;
            }
        }

        &__list {
            list-style-type: none;
            font-size: 1rem;
            justify-content: flex-start;
            padding-left: 1rem;

            &--item {
                &--current {
                    border-bottom: 0.125rem $white;
                    padding: 0;
                    padding-top: 2rem;
                }

                &--other {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 2rem;

                }
            }
        }
    }

    @include desktop {
        display: flex;

        &__logo {
            &--image {
                width: 100%;
                padding-left: 5rem;
            }
        }

        &__list {
            list-style-type: none;
            font-size: 0.9rem;
        }
    }
}


.footer {
    background-color: $dark;
    font-family: "avenir-pro-regular";
    color: #FFFFFF;
    padding-left: 1rem;
    font-size: 0.8125rem; /* 13 px is 0.8125rem but rounds to 0.9*/
    position: relative;

    p {
        margin: 0;
    }

    &__socials {
        &--subtitle {
            font-family: "avenir-pro-demi";
            padding-top: 2rem;
            font-size: 2rem;
            margin-bottom: 1rem;  /* 16 px is 1rem */
        }

        &--media {
            padding-right: 2rem;
            padding-left: 0.3rem; 
            
            img {
                height: 2rem; 
            }
        }
    }


    &__info {
        &--block {
            &--title {
                padding-bottom: 0.3rem;
                font-family: "avenir-pro-demi";
            }

            &--email {
                padding-top: 1rem;
            }
        }
    }

    &__limitless {
        &--management {
            padding-bottom: 0.3rem;
            font-family: "avenir-pro-demi";
        }
    }
    
    &__entertainment {
        &--management {
            padding-bottom: 0.3rem;
            font-family: "avenir-pro-demi";
        }
    }

    &__copyright {
        &--logo {
            font-size: 2rem;
            margin: 0;

            img {
                padding-top: 3rem;
            }
        }

        &--info {
            font-size: 0.8rem;
            padding-bottom: 4rem;
            padding-top: 0.5rem;
        }
    }   
    
}


