@use "./mixins" as *;
@use "./variables" as *;


/* is bio only for the header and footer??? only work on sass file!! */

  /* 
  
  make a global css inside partials
  this will be for nav and footer
  anything shared with multiple pages, use that
  reset values as well - border box, body font family*/

@font-face {
    font-family: "avenir-pro-regular";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: "avenir-pro-demi";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: "avenir-pro-bold";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}


body {
    font-family: "avenir-pro-regular";
}

.nav {
    background-color: #323232;
    color: #FFFFFF;
    font-family: "avenir-pro-regular";

    &__logo {
        display: flex;
        justify-content: center;

        &--image {
            max-width: 7.5rem;
            margin-top: 1rem;
            max-height: 1.25rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;

        &--item--current {
            padding-bottom: 1rem;
            padding-right: 18vw;
            padding-left: 21vw;
            border-bottom: 0.125rem solid #FFFFFF;
        }

        &--item--link {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}


.footer {
    background-color: #323232;
    font-family: "avenir-pro-regular";
    color: #FFFFFF;
    padding-left: 1rem;
    font-size: 0.8125rem; /* 13 px is 0.8125rem but rounds to 0.9*/
    position: relative;

    p {
        margin: 0;
    }

    &__socials {
        &--subtitle {
            font-family: "avenir-pro-demi";
            padding-top: 2rem;
            font-size: 2rem;
            margin-bottom: 1rem;  /* 16 px is 1rem */
        }

        &--media {
            padding-right: 2rem;
            padding-left: 0.3rem; 
            
            img {
                height: 2rem; 
            }
        }
    }


    &__info {
        &--block {
            &--title {
                padding-bottom: 0.3rem;
                font-family: "avenir-pro-demi";
            }

            &--email {
                padding-top: 1rem;
            }
        }
    }

    &__limitless {
        &--management {
            padding-bottom: 0.3rem;
            font-family: "avenir-pro-demi";
        }
    }
    
    &__entertainment {
        &--management {
            padding-bottom: 0.3rem;
            font-family: "avenir-pro-demi";
        }
    }

    &__copyright {
        &--logo {
            font-size: 2rem;
            margin: 0;

            img {
                padding-top: 3rem;
            }
        }

        &--info {
            font-size: 0.8rem;
            padding-bottom: 4rem;
            padding-top: 0.5rem;
        }
    }   
    
}


