@use "./partials/global.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

.bandheader {
    background-image: url("/assets/images/hero-shows.jpg");
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
    padding-right: 2rem;
    opacity:90%;
    color: $white;

    &__title {
        font-family: "avenir-pro-demi";
        font-size: 2rem;
    }
}

.shows {
    padding-left: 1rem;
    font-size: 2rem;
    font-family: "avenir-pro-demi";
    margin-left: 1 rem;
    margin-right: 1rem;

    &__item {
        padding: 1 rem;
        border-bottom: 0.03rem solid #AFAFAF;
        padding-right: 1rem;

        &__label {
            color: #AFAFAF;
            font-family: "avenir-pro-demi";
            font-size: 0.8rem;
        }

        &__button {
            font-family: "avenir-pro-demi";
            font-size: 1rem;
            background-color: $dark;
            color: $white;
            border: none;
            border-radius: 0.3rem;
            padding: 1rem;
            width: 100%;
        }

        &--selected {
            background-color: #E1E1E1;
        }

        &:hover {
            background-color: $offwhite;
        }

        &__text {
            color: $dark;
            font-family: "avenir-pro-regular";
            font-size: 1rem;
            padding-bottom: 1rem;
        }

        @include tablet {
            display: flex;
            flex-direction: row;

            &__label {
                margin-right: 1rem;
            }

            &__button {
                width: auto;
                margin-top: auto;
                margin-left: auto;
                margin-right: 2rem;
            }

            &__labels-container {
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                padding-left: 3 rem;
            }

            &__text {
                flex-direction: row;
                width: 10rem;
                padding-bottom: 1 rem;
            }
        }

        @include desktop {
            display: flex;
            justify-content: flex-start;
            padding-left: 3rem;
            padding-right: 1rem;

            &__text {
                width: 14rem;
            }
        }
    }
}

.shows-container {
    @include desktop {
        display: flex;
        flex-direction: row;
        margin-left: 3rem;
    }
}

.shows-list {
    @include desktop {
        margin-left: 5rem;
        padding-top: 2rem;
    } 
}



